{% extends "base.html" %} {% block content %}
<h1 class="text-center">Books Added By Our Users</h1>
<div class="row row-cols-1 row-cols-md-2">
  {% for book in books %}
  <div class="col mb-4">
    <div class="card shadow p-3 mb-5 bg-white rounded">
      <div class="row no-gutters">
        <div class="col-md-6">
          </a><img src="{{ book.coverImageURL }}" class="card-img-top" alt="Cover for {{ book.title }}" />
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <h5 class="card-title">{{ book.title }}</h5>
            <h6 class="card-subtitle text-muted">
              Author(s): {{ book.authors }}
            </h6>
            <p class="card-text">Genre(s): {{ book.genres }}</p>
          </div>
        </div>
        <div class="col">
          <div class="card-footer">
             <!-- TODO: Add upvote function. Should only work for logged in users, and only once  -->
            <p class="card-text">Upvotes: {{ book.upvotes }}</p>
            <a href="{{ url_for('get_book', book_id=book._id) }}" class="btn btn-primary">More About This Book</a> 
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% if session.user %} {% else %}
<div class="text-center">
  Want to edit books?
  <a href="{{ url_for('login') }}">Log In</a> or
  <a href="{{ url_for('register') }}">Register</a>!
</div>
{% endif %} {% endblock %}
